__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Reports
*.report
*.xml
*report*.json
*coverage*.json
/*.json
.coverage
htmlcov/
.coverage.scaralang

# Architecture Audit
.issues/
